.Nav {
  padding: 15px;
  color: black;
}
.activNav {
  font-weight: bold;
  background-color: black;
  color: white;
}
.Nav:visited {
  text-decoration: none;
}
li {
  padding: 8px;
  display: inline;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
